.navbar {
  position: fixed;
  z-index: 2;
  background-color: rgb(54, 54, 54);
}

.navbar h1 {
  margin-left: 4%;
  display: inline-block;
  color: rgb(255, 19, 149);
}

.spacer {
  flex-grow: 1;
}

.moreBackground {
  background-color: rgb(54, 54, 54);
  color: rgb(228, 228, 228);
  margin-right: 3%;
  margin-bottom: 3px;
}

.morePost {
  background-color: white;
  color: rgb(228, 228, 228);
  margin-bottom: 10px;
}

.textshadow {
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 22px;
  text-shadow: 2px 2px 4px black;
}

.example-container {
  widows: 100vh;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panelMaster {
  height: 100vh;
  width: 100%;
  background-color: rgb(233, 233, 233);
}

.example-events {
  height: 100%;
  overflow: auto;
}

.panelleft {
  position: fixed;
  float: left;
  height: 100vh;
  width: 5%;
  background-color: rgb(233, 233, 233);
}

.panel1 {
  margin-top: 10px;
  height: 100vh;
  position: absolute;
  margin-left: 5%;
  width: 26%;
}

.insidepanel1 {
  position: fixed;
  border-radius: 20px;
  border-radius: 2px;
  width: 26%;
  background-color: rgb(189, 189, 189);
}

.panel2 {
  min-width: 370px;
  margin-top: 10px;
  margin-left: 31%;
  float: left;
  position: absolute;
  height: 100vh;
  width: 40%;
}
.panel2Mobile{
  margin-top: 0%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.insidepanel2 {
  margin-top: 0%;
  position: absolute;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

.insidepanel3 {
  position: fixed;
  margin-top: 0%;
  width: 300px;
  background-color: rgb(240, 240, 240);
}

.panel3 {
  margin-top: 10px;
  margin-left: 71%;
  position: absolute;
  height: 100vh;
  width: 300px;
}

.panelright {
  margin-left: 95%;
  float: left;
  position: fixed;
  height: 100vh;
  width: 5%;
  background-color: rgb(233, 233, 233);
}

.courseClick {
  width: 100%;
  background-color: white;
}

.postCard {
  margin-bottom: 2%;
  background-color: rgb(255, 255, 255);
}

/* .example-header-image {
    background-image: url('../../assets/aphiratprofile.jpg');
    background-size: cover;
} */

.headerimage {
  background-size: cover;
}

mat-panel-title {
  font-size: 20px;
}

.comment {
  width: 100%;
}

.VdoLink {
  width: 100%;
}

td:hover {
  cursor: pointer;
}
mat-card-subtitle{
  font-size: 10px;
}
.addVdoLink {
  color: white;
  box-shadow: none !important;
  margin-bottom: 5px;
  margin-left: calc(48% - 40px);
  margin-right: 10px;
  background-color: rgb(216, 0, 162);
}

.deleteVdoLink {
  color: white;
  box-shadow: none !important;
  margin-bottom: 5px;
  margin-right: calc(48% - 40px);
  background-color: rgba(216, 0, 162, 0.918);
}

.example-full-width {
  width: 100vh;
}

.nameNavbar {
  color: rgb(255, 255, 255);
  padding: 1%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.fab-bottom-right {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  background-color: rgb(238, 0, 99);
  color: white;
}

.postButton {
  font-size: 12px;
  margin-left: 5px;
  float: right;
  background-color: rgb(255, 0, 140);
  color: white;
}

.panelComment {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.addCourse {
  color: violet;
}

.addCourse :hover {
  color: deeppink;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.addComment {
  font-size: 12px;
  background-color: rgb(255, 0, 140);
  color: white;
}

.courseHeader {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 0px;
  height: 52px;
  font-size: 20px;
  color: white;
  text-shadow: 0px 2px rgb(0, 0, 0);
  background-color: rgb(139, 139, 139);
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.searchIcon {
  float: right;
  margin: 0px;
}

.favCourse {
  position: absolute;
  float: left;
}

.serachInput {
  width: 100%;
  margin-bottom: 2%;
}

.courseExtension {
  background-color: white;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}

.card {
  height: 10px;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.cardExpansion:not([class*='mat-elevation-z']) {
  box-shadow: none;
  font-size: 12px;
}

.cardExpansion:hover {
  cursor: pointer;
  background-color: ghostwhite;
  color: rgb(255, 19, 149);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.17);
}

.courseStep2 {
  font-size: 13px;
}

.uploadButton {
  background-color: orange;
  color: white;
}

.majorButton {
  text-align: left;
}

.facultySidenav1 {
  widows: 100vh;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.facultySidenav2 {
  height: 100%;
  overflow: auto;
}

/*
table */

table {
  width: 94%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.mat-header-cell {
  font-size: 18px;
  color: black;
}

/*facebook*/

.facebookPage {
  height: 205px;
}

.chip-code {
  width: 150px;
}

.chip-tag {
  margin-left: 20px;
  width: 150px;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #eaacec;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .indeterminate {
  background-color: #c216a5;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

iframe {
  widows: 100vh;
}

.search {
  margin-left: calc(50% - 200px);
  position: absolute;
}

.form-control {
  position: absolute;
  width: 400px;
}

.searchicon {
  color: white;
  margin-left: 410px;
}

.bookicon {
  color: white;
  margin-left: calc(50% - 240px);
  position: absolute;
}

.courseOnline {
  margin-left: 4%;
  display: inline-block;
  font-size: 27px;
  font-weight: bold;
  color: rgb(255, 19, 149);
}

.courseOnline:hover {
  cursor: pointer;
  font-size: 28px;
  color: rgb(255, 0, 140);
}

h4 {
  text-overflow: ellipsis
}

mat-list-item {
  max-width: 200px;
}
.courseOnline:hover{
  font-size: 28px;
  color: rgb(255, 0, 140);
}
.headerimage-comment {
  margin-left: 9px;
  margin-top: 9px;
  background-size: cover;
  position: absolute;
}
.commentName{
  margin-top: 17px;
  position: absolute;
  margin-left: 55px;
}
.commentText{
  margin-left: 55px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.feedBackButton {
  font-size: 12px;
  margin-left: calc(50% - 45px);
  margin-top: 10px;
  position: absolute;
  background-color: rgba(179, 24, 32, 0.952);
  color: white;
}
.commentFeedBack {
  margin-left: 8px;
  margin-top: 50px;
  width: 90%;
}
.postFeedback {
  font-size: 12px;
  margin-right: 20px;
  margin-bottom: 15px;
  float: right;
  background-color: rgba(179, 24, 32, 0.952);
  color: white;
}
.example-headers-align .mat-expansion-panel-header-title{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 33%;
}
.mat-form-field {
margin-right: 12px;
}
.containerComment{
  background-color: rgba(241, 241, 241, 0.952);
  border-radius: 10px;
}
.requestInput{
  width: 100%;
}
.showCommentAll{
  color: #ef0078;
  text-align: center;
}
.showCommentAll:hover{
  cursor: pointer;
  color: #d6006b;
}




.sideNav{
  width: 100%;
  height: 100vh;
  background-color: white;
}
.sideContent{
  width: 100%;
  height: 100vh;
  background-color: rgb(233, 233, 233);
}
.menuIconBook{
  color: white;
}
.menuIcon{
  color: white;
  margin-bottom: 10px;
}
.menuIcon:hover{
  cursor: pointer;
}
.sideHeader{
  text-align: center;
  display: inline-block;
  font-size: 27px;
  font-weight: bold;
  color: rgb(255, 19, 149);
}
.sideHeader:hover{
  font-size: 28px;
  color: rgb(255, 0, 140);
}
.deletecomment {
  margin-left: calc(100% - 40px);
}
.deletecommenticon {
  color: white;
}
