<div *ngIf="!postService.isMobile">
  <mat-toolbar>
    <mat-toolbar-row class="navbar">
      <h1 class="courseOnline" (click)="goHome()">SUT Course Online</h1>
      <mat-icon class="bookicon">book</mat-icon>
      <div class="search">
        <form>
          <div class="form-row">
            <div class="col">
              <input mdbInput [(ngModel)]="select.inputCode" name="inputCode" class="form-control" placeholder="Search"
                     matTooltip="Example : 523101 or Computer Programing or 523">
            </div>
          </div>
        </form>
        <button mat-icon-button (click)="search()" class="searchicon">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <span class="spacer"></span>
      <div class="nameNavbar">{{authenService.user.name}}</div>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + authenService.user?.picture + ')' }"
           class="headerimage"></div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
              class="moreBackground">
        <mat-icon svgIcon="more" aria-hidden="true" aria-label="Example thumbs up SVG icon"></mat-icon>
      </button>
      <mat-menu yPosition="above" xPosition="before" #menu="matMenu">
        <button mat-menu-item (click)="goAboutMe()">
          <mat-icon>person</mat-icon>
          <span>About me</span>
        </button>
        <button mat-menu-item (click)="goHome()">
          <mat-icon>add</mat-icon>
          <span>Add Course</span>
        </button>
        <button mat-menu-item (click)="goWelcome()">
          <mat-icon>book</mat-icon>
          <span>My course</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon svgIcon="logout"></mat-icon>
          <span>log out</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="panelMaster">
    <div class="panelleft">
    </div>

    <div class="panel1">
      <div class="insidepanel1">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element" (click)="getMajor(element.name)"> {{element.name}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let head of major">
                    <mat-expansion-panel-header (click)="getSubject(head.name)" class="courseStep2">
                      {{head.name}}
                    </mat-expansion-panel-header>
                    <mat-list>
                      <mat-list-item *ngFor="let head of subject" class="cardExpansion">
                        <h4 mat-line (click)="getFeed(head.code, head.name)">{{head.name}}</h4>
                        <h4 mat-line (click)="getFeed(head.code, head.name)">{{head.code}}</h4>
                        <button mat-icon-button class="addCourse" (click)="unfollow(head.code)">
                          <mat-icon mat-list-icon matTooltip="unfollow"
                                    aria-label="Button that displays a tooltip when focused or hovered over">
                            indeterminate_check_box
                          </mat-icon>
                        </button>
                      </mat-list-item>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <br>
        <ng-container>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>ขอเพิ่มรายวิชา</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-form-field class="requestInput">
                <textarea matInput placeholder="รหัสวิชา" [(ngModel)]="select.subjectcodeText" name="text"></textarea>
              </mat-form-field>

              <mat-form-field class="requestInput">
                <textarea matInput placeholder="ชื่อรายวิชา" [(ngModel)]="select.subjectnameText"
                          name="text"></textarea>
              </mat-form-field>

              <mat-action-row>
                <button mat-button color="accent" (click)="postRequest()">Send</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </div>
    </div>

    <div class="panel2">
      <div class="insidepanel2">
        <mat-toolbar class="courseHeader">
          <span class="title-center">{{nameSubject}} {{codeSubject}}</span>
        </mat-toolbar>
        <mat-card class="postCard" *ngIf="isPost">
          <div class="progress" *ngIf="isPosting">
            <div class="indeterminate"></div>
          </div>
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + authenService.user?.picture + ')' }"
                 class="headerimage"></div>
            <mat-card-title>{{authenService.user.name}}</mat-card-title>
          </mat-card-header>
          <mat-form-field class="comment">
            <mat-placeholder>say somthing</mat-placeholder>
            <textarea matInput [(ngModel)]="select.text" name="text"></textarea>
          </mat-form-field>
          <mat-tab-group *ngIf="isUpload">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>play_circle_outline</mat-icon>
                Youtube
              </ng-template>
              <br>
              <div *ngIf="isAddVdo">
                <ng-container *ngFor="let vdo2 of tempVdoLink2; let i = index">
                  <mat-form-field class="VdoLink" *ngIf="vdo2" name="VdoLink">
                    <input matInput [(ngModel)]="tempVdoLink[i]" placeholder="support for link on youtube only!">
                  </mat-form-field>
                </ng-container>
                <button mat-mini-fab class="addVdoLink" (click)="isAddFunc()">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-mini-fab class="deleteVdoLink" (click)="isClear()">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>attach_file</mat-icon>
                แนบไฟล์
              </ng-template>
              <br>
              <div *ngIf="isFile">
                <ng-container *ngFor="let file of tempFileLink2; let j = index">
                  <div *ngIf="file">
                    <input type="file" (change)="upload($event, j)" accept=".pdf, .doc, .docx, .rar, .zip"
                           class="inputfile"/>

                    <br>
                    <br>
                  </div>
                </ng-container>
              </div>
              <button mat-mini-fab class="addVdoLink" (click)="isFileFunc()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-mini-fab class="deleteVdoLink" (click)="isFileClear()">
                <mat-icon>clear</mat-icon>
              </button>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>photo_library</mat-icon>
                Picture
              </ng-template>
              <br>
              <div *ngIf="isPic">
                <ng-container *ngFor="let pic of tempPicLink2; let p = index">
                  <div *ngIf="pic">
                    <input type="file" (change)="uploadPic($event, p)" accept=".png, .jpg, .PNG, .JPG, JPEG"/>
                    <br><br>
                  </div>
                </ng-container>
              </div>
              <button mat-mini-fab class="addVdoLink" (click)="isPicFunc()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-mini-fab class="deleteVdoLink" (click)="isPicClear()">
                <mat-icon>clear</mat-icon>
              </button>
            </mat-tab>
          </mat-tab-group>
          <br>
          <button mat-button class="postButton" (click)="test()">Post</button>
          <button mat-button class="postButton" *ngIf="!isUpload" (click)="isUploadFunc()"
                  matTooltip="ex: png, jpg, pdf, word">Upload File & Video
          </button>
          <!--<button mat-button class="postButton">Audio</button>-->
          <br>
        </mat-card>

        <!-- Post -->

        <div *ngIf="post">
          <ng-container *ngFor="let posts of post.slice().reverse(); let i = index">
            <mat-card class="postCard">
              <mat-card-header>
                <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + posts.user.picture + ')' }"
                     class="headerimage"></div>
                <mat-card-title>{{posts.user.name}}</mat-card-title>
                <mat-card-subtitle>{{posts.timestamp}} : {{posts.date}}</mat-card-subtitle>
                <span class="spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                        class="moreBackground" class="morePost" *ngIf="posts.user.email === authenService.user.email">
                  <mat-icon svgIcon="more"></mat-icon>
                </button>
                <mat-menu yPosition="below" xPosition="after" #menu="matMenu">
                  <button mat-menu-item (click)="delete(posts.id, posts.picture, posts.file)">
                    <mat-icon>delete_outline</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                </mat-menu>
              </mat-card-header>
              <mat-card-content>
                <h6>{{posts.text}}</h6>
                <div *ngIf="posts.vdoLink[0] && !posts.file[0] && !posts.picture[0]">
                  <div *ngFor="let vdo of posts.vdoLink; let j = index">
                    <a [href]="vdo" target="_blank" rel="noopener noreferrer">
                      {{vdo}}
                    </a>
                  </div>
                </div>
                <mdb-carousel *ngIf="!posts.vdoLink[0] && !posts.file[0] && posts.picture[0]" [animation]="'slide'"
                              data-interval="false">
                  <mdb-carousel-item *ngFor="let pic of posts.picture; let x = index">
                    <a [href]="posts.picture[x]" target="_blank" rel="noopener noreferrer">
                      <img [src]="posts.picture[x]" width=100%>
                    </a>
                  </mdb-carousel-item>
                </mdb-carousel>
                <div *ngIf="!posts.vdoLink[0] && posts.file[0] && !posts.picture[0]">
                  <div *ngFor="let files of posts.file; let k = index">
                    <a [href]="files" target="_blank" rel="noopener noreferrer">{{posts.filename[k]}}</a>
                  </div>
                </div>
                <mat-tab-group
                  *ngIf="(posts.vdoLink[0] && posts.picture[0]) || (posts.vdoLink[0] && posts.file[0]) || (posts.file[0] && posts.picture[0])">
                  <mat-tab *ngIf="posts.vdoLink[0]">
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">play_circle_outline</mat-icon>
                      Youtube
                    </ng-template>
                    <br>
                    <div *ngFor="let vdo of posts.vdoLink; let j = index">
                      <a [href]="vdo" target="_blank" rel="noopener noreferrer">
                        {{vdo}}
                      </a>
                      <!--<div style="text-align: center;" *ngIf="posts.vdoLink[j]">
                        <span>
                          <iframe width=100% he ight="235" [src]="getEmbedUrl(posts.vdoLink[j])" frameborder="0">
                          </iframe>
                        </span>
                      </div>
                      <div class="separator" style="clear: both; text-align: center;"></div>-->
                    </div>
                  </mat-tab>
                  <mat-tab *ngIf="posts.file[0]">
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">attach_file</mat-icon>
                      File
                    </ng-template>
                    <br>
                    <div *ngFor="let files of posts.file; let k = index">
                      <div>
                        <a [href]="files" target="_blank" rel="noopener noreferrer">{{posts.filename[k]}}</a>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab *ngIf="posts.picture[0]">
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">photo_library</mat-icon>
                      Picture
                    </ng-template>
                    <br>
                    <mdb-carousel [animation]="'slide'" data-interval="false">
                      <mdb-carousel-item *ngFor="let pic of posts.picture; let x = index">
                        <a [href]="posts.picture[x]" target="_blank" rel="noopener noreferrer">
                          <img [src]="posts.picture[x]" width=100%>
                        </a>
                      </mdb-carousel-item>
                    </mdb-carousel>
                  </mat-tab>
                </mat-tab-group>
                <br>
                <ng-container *ngFor="let comments of posts.comment | slice:0:3;">
                  <div class="containerComment">
                    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + comments.user.picture + ')' }"
                         class="headerimage-comment"></div>
                    <p class="commentName">{{comments.user.name}}</p>
                    <span class="spacer"></span>
                    <br><br>
                    <p class="commentText">{{comments.text}}</p>
                  </div>
                </ng-container>
                <p *ngIf="posts.comment.length > 3" class="showCommentAll">>> show more <<</p>
              </mat-card-content>
              <ng-container *ngIf='!posts.checkComment'>
                <button mat-button (click)="isComment(posts)" class="addComment">comment
                </button>
              </ng-container>
              <ng-container *ngIf='posts.checkComment'>
                <form>
                  <mat-form-field class="comment">
                  <textarea matInput [(ngModel)]="select.commentText" placeholder="Leave a comment"
                            name="commentText"></textarea>
                  </mat-form-field>
                </form>
                <form>
                  <button mat-button class="postButton" (click)="postComment(posts.id)"
                          (click)="notComment(posts)">Enter
                  </button>
                </form>
                <form>
                  <button mat-button class="postButton" (click)="notComment(posts)">Cancel</button>
                </form>
              </ng-container>
              <br>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="panelright">
    </div>
    <div class="panel3">
      <div class="insidepanel3">
        <div>
          <iframe
            src="//www.facebook.com/plugins/likebox.php?href=http://https://www.facebook.com/SUT-Computer-Club-837427779776860?show_faces=true&colorscheme=light&stream=false&show_border=false&header=false&appId=123849637763517"
            scrolling="no" frameborder="0" style="border:none; overflow:hidden" allowtransparency="true"
            class="facebookPage"></iframe>
        </div>
        <button mat-raised-button class="feedBackButton" color="warn" (click)="feedBackClick(feedbackBoo)"> แจ้งผู้พัฒนา
        </button>
        <ng-container *ngIf='!feedbackBoo'>
          <mat-form-field class="commentFeedBack">
            <mat-placeholder>feedback</mat-placeholder>
            <textarea matInput [(ngModel)]="select.feedbackText" name="text"></textarea>
          </mat-form-field>
          <button mat-button class="postFeedback" (click)="postFeedback()">Send</button>
          <br><br>
        </ng-container>
      </div>
    </div>

  </div>
  <button mat-fab class="fab-bottom-right" (click)="Post()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel">Leave this page?</h5>
      </div>
      <div class="modal-body">
        <P>File uploading! Are you sure to leave this page?</P>
      </div>
      <div class="modal-footer">
        <button mat-button (click)="basicModal.hide()">Cancel</button>
        <button mat-button (click)="leave()">Leave</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="postService.isMobile">
  <mat-toolbar>
    <mat-toolbar-row class="navbar">
      <mat-icon class="menuIcon" svgIcon="hamIcon" (click)="sidenav.toggle()"></mat-icon>
      <a href="home" class="sideHeader">SUT Course Online</a>
      <mat-icon class="menuIcon" svgIcon="hamIcon" (click)="sidenavRight.toggle()"></mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="sideNav">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element" (click)="getMajor(element.name)"> {{element.name}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let head of major">
                  <mat-expansion-panel-header (click)="getSubject(head.name)" class="courseStep2">
                    {{head.name}}
                  </mat-expansion-panel-header>
                  <mat-list>
                    <mat-list-item *ngFor="let head of subject" class="cardExpansion">
                      <h4 mat-line (click)="getFeed(head.code, head.name)">{{head.name}}</h4>
                      <h4 mat-line (click)="getFeed(head.code, head.name)">{{head.code}}</h4>
                      <button mat-icon-button class="addCourse" (click)="unfollow(head.code)">
                        <mat-icon mat-list-icon matTooltip="unfollow"
                                  aria-label="Button that displays a tooltip when focused or hovered over">
                          indeterminate_check_box
                        </mat-icon>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <br>
      <ng-container>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>ขอเพิ่มรายวิชา</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field class="requestInput">
              <textarea matInput placeholder="รหัสวิชา" [(ngModel)]="select.subjectcodeText" name="text"></textarea>
            </mat-form-field>

            <mat-form-field class="requestInput">
                <textarea matInput placeholder="ชื่อรายวิชา" [(ngModel)]="select.subjectnameText"
                          name="text"></textarea>
            </mat-form-field>

            <mat-action-row>
              <button mat-button color="accent" (click)="postRequest()">Send</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <button mat-raised-button class="feedBackButton" color="warn" (click)="feedBackClick(feedbackBoo)"> แจ้งผู้พัฒนา
      </button>
      <ng-container *ngIf='feedbackBoo'>
        <mat-form-field class="commentFeedBack">
          <mat-placeholder>feedback</mat-placeholder>
          <textarea matInput [(ngModel)]="select.feedbackText" name="text"></textarea>
        </mat-form-field>
        <button mat-button class="postFeedback" (click)="postFeedback()">Send</button>
        <br><br>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav #sidenavRight mode="side" position="end" class="sideNav">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>person_outline</mat-icon>
          <h1 mat-line>{{authenService.user.name}}</h1>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
          <mat-icon mat-list-icon>mail_outline</mat-icon>
          <h1 mat-line>{{authenService.user.email}}</h1>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
          <mat-icon mat-list-icon>people</mat-icon>
          <h1 mat-line>About Me</h1>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>add</mat-icon>
          <h1 mat-line>Add Course</h1>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>book</mat-icon>
          <h1 mat-line>My Course</h1>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <h1 mat-line>Log out</h1>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="sideContent">
      <mat-toolbar class="courseHeader">
        <span class="title-center">{{nameSubject}} {{codeSubject}}</span>
      </mat-toolbar>
      <mat-card class="postCard" *ngIf="isPost">
        <div class="progress" *ngIf="isPosting">
          <div class="indeterminate"></div>
        </div>
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + authenService.user?.picture + ')' }"
               class="headerimage"></div>
          <mat-card-title>{{authenService.user.name}}</mat-card-title>
        </mat-card-header>
        <mat-form-field class="comment">
          <mat-placeholder>say somthing</mat-placeholder>
          <textarea matInput [(ngModel)]="select.text" name="text"></textarea>
        </mat-form-field>
        <mat-tab-group *ngIf="isUpload">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>play_circle_outline</mat-icon>
              Youtube
            </ng-template>
            <br>
            <div *ngIf="isAddVdo">
              <ng-container *ngFor="let vdo2 of tempVdoLink2; let i = index">
                <mat-form-field class="VdoLink" *ngIf="vdo2" name="VdoLink">
                  <input matInput [(ngModel)]="tempVdoLink[i]" placeholder="support for link on youtube only!">
                </mat-form-field>
              </ng-container>
              <button mat-mini-fab class="addVdoLink" (click)="isAddFunc()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-mini-fab class="deleteVdoLink" (click)="isClear()">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>attach_file</mat-icon>
              แนบไฟล์
            </ng-template>
            <br>
            <div *ngIf="isFile">
              <ng-container *ngFor="let file of tempFileLink2; let j = index">
                <div *ngIf="file">
                  <input type="file" (change)="upload($event, j)" accept=".pdf, .doc, .docx, .rar, .zip"
                         class="inputfile"/>

                  <br>
                  <br>
                </div>
              </ng-container>
            </div>
            <button mat-mini-fab class="addVdoLink" (click)="isFileFunc()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab class="deleteVdoLink" (click)="isFileClear()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>photo_library</mat-icon>
              Picture
            </ng-template>
            <br>
            <div *ngIf="isPic">
              <ng-container *ngFor="let pic of tempPicLink2; let p = index">
                <div *ngIf="pic">
                  <input type="file" (change)="uploadPic($event, p)" accept=".png, .jpg, .PNG, .JPG, JPEG"/>
                  <br><br>
                </div>
              </ng-container>
            </div>
            <button mat-mini-fab class="addVdoLink" (click)="isPicFunc()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab class="deleteVdoLink" (click)="isPicClear()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-tab>
        </mat-tab-group>
        <br>
        <button mat-button class="postButton" (click)="test()">Post</button>
        <button mat-button class="postButton" *ngIf="!isUpload" (click)="isUploadFunc()"
                matTooltip="ex: png, jpg, pdf, word">Upload File & Video
        </button>
        <!--<button mat-button class="postButton">Audio</button>-->
        <br>
      </mat-card>

      <!-- Post -->

      <div *ngIf="post">
        <ng-container *ngFor="let posts of post.slice().reverse(); let i = index">
          <mat-card class="postCard">
            <mat-card-header>
              <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + posts.user.picture + ')' }"
                   class="headerimage"></div>
              <mat-card-title>{{posts.user.name}}</mat-card-title>
              <mat-card-subtitle>{{posts.timestamp}} : {{posts.date}}</mat-card-subtitle>
              <span class="spacer"></span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                      class="moreBackground" class="morePost" *ngIf="posts.user.email === authenService.user.email">
                <mat-icon svgIcon="more"></mat-icon>
              </button>
              <mat-menu yPosition="below" xPosition="after" #menu="matMenu">
                <button mat-menu-item (click)="delete(posts.id, posts.picture, posts.file)">
                  <mat-icon>delete_outline</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
              </mat-menu>
            </mat-card-header>
            <mat-card-content>
              <h6>{{posts.text}}</h6>
              <div *ngIf="posts.vdoLink[0] && !posts.file[0] && !posts.picture[0]">
                <div *ngFor="let vdo of posts.vdoLink; let j = index">
                  <a [href]="vdo" target="_blank" rel="noopener noreferrer">
                    {{vdo}}
                  </a>
                </div>
              </div>
              <mdb-carousel *ngIf="!posts.vdoLink[0] && !posts.file[0] && posts.picture[0]" [animation]="'slide'"
                            data-interval="false">
                <mdb-carousel-item *ngFor="let pic of posts.picture; let x = index">
                  <a [href]="posts.picture[x]" target="_blank" rel="noopener noreferrer">
                    <img [src]="posts.picture[x]" width=100%>
                  </a>
                </mdb-carousel-item>
              </mdb-carousel>
              <div *ngIf="!posts.vdoLink[0] && posts.file[0] && !posts.picture[0]">
                <div *ngFor="let files of posts.file; let k = index">
                  <a [href]="files" target="_blank" rel="noopener noreferrer">{{posts.filename[k]}}</a>
                </div>
              </div>
              <mat-tab-group
                *ngIf="(posts.vdoLink[0] && posts.picture[0]) || (posts.vdoLink[0] && posts.file[0]) || (posts.file[0] && posts.picture[0])">
                <mat-tab *ngIf="posts.vdoLink[0]">
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">play_circle_outline</mat-icon>
                    Youtube
                  </ng-template>
                  <br>
                  <div *ngFor="let vdo of posts.vdoLink; let j = index">
                    <a [href]="vdo" target="_blank" rel="noopener noreferrer">
                      {{vdo}}
                    </a>
                    <!--<div style="text-align: center;" *ngIf="posts.vdoLink[j]">
                      <span>
                        <iframe width=100% he ight="235" [src]="getEmbedUrl(posts.vdoLink[j])" frameborder="0">
                        </iframe>
                      </span>
                    </div>
                    <div class="separator" style="clear: both; text-align: center;"></div>-->
                  </div>
                </mat-tab>
                <mat-tab *ngIf="posts.file[0]">
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">attach_file</mat-icon>
                    File
                  </ng-template>
                  <br>
                  <div *ngFor="let files of posts.file; let k = index">
                    <div>
                      <a [href]="files" target="_blank" rel="noopener noreferrer">{{posts.filename[k]}}</a>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab *ngIf="posts.picture[0]">
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">photo_library</mat-icon>
                    Picture
                  </ng-template>
                  <br>
                  <mdb-carousel [animation]="'slide'" data-interval="false">
                    <mdb-carousel-item *ngFor="let pic of posts.picture; let x = index">
                      <a [href]="posts.picture[x]" target="_blank" rel="noopener noreferrer">
                        <img [src]="posts.picture[x]" width=100%>
                      </a>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </mat-tab>
              </mat-tab-group>
              <br>
              <ng-container *ngFor="let comments of posts.comment | slice:0:3;">
                <div class="containerComment">
                  <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + comments.user.picture + ')' }"
                       class="headerimage-comment"></div>
                  <p class="commentName">{{comments.user.name}}</p>
                  <span class="spacer"></span>
                  <br><br>
                  <p class="commentText">{{comments.text}}</p>
                </div>
              </ng-container>
              <p *ngIf="posts.comment.length > 3" class="showCommentAll">>> show more <<</p>
            </mat-card-content>
            <ng-container *ngIf='!posts.checkComment'>
              <button mat-button (click)="isComment(posts)" class="addComment">comment
              </button>
            </ng-container>
            <ng-container *ngIf='posts.checkComment'>
              <form>
                <mat-form-field class="comment">
                  <textarea matInput [(ngModel)]="select.commentText" placeholder="Leave a comment"
                            name="commentText"></textarea>
                </mat-form-field>
              </form>
              <form>
                <button mat-button class="postButton" (click)="postComment(posts.id)"
                        (click)="notComment(posts)">Enter
                </button>
              </form>
              <form>
                <button mat-button class="postButton" (click)="notComment(posts)">Cancel</button>
              </form>
            </ng-container>
            <br>
          </mat-card>
        </ng-container>
      </div>

      <button mat-fab class="fab-bottom-right" (click)="Post()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
