.panelMaster {
  width: 100%;
  height: 100vh;
}

.panel1 {
  position: fixed;
  box-shadow: 5px 1px 4px -3px rgba(0, 0, 0, 0.08), 5px 1px 4px -3px rgba(0, 0, 0, 0.08), 5px 1px 4px -3px rgba(0, 0, 0, 0.08);
  width: 20%;
  height: 100vh;
  background-color: #ef0078;
}

.panel2 {
  margin-left: 20%;
  width: 80%;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  position: absolute;
}

mat-list-item {
  cursor: pointer;
}

h3 {
  margin: 20px;
}

h1 {
  font-size: 24px;
  margin-left: 5px;
  color: white;
}

span {
  flex: 1;
}

.signicon {
  color: white;
  position: absolute;
  margin-left: calc(100% - 75px);
}

mat-toolbar {
  position: fixed;
  z-index: 2;
  background-color: #c7006e;
}

mat-icon {
  color: white;
}

mat-list-item:hover {
  background-color: #FF80AB;
}

.insidepanel2 {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.08), 0px 0px 10px -3px rgba(0, 0, 0, 0.08), 0px 0px 10px -3px rgba(0, 0, 0, 0.08);
  height: calc(100% - 90px);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  width: 90%;
  border-radius: 10px;
  background-color: white;

}

mat-tab {
  margin: 20px;
}

.adddata {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.form-control {
  width: 90%;
}

.inputpanel {
  margin-left: 20px;
}

.text {
  margin-top: 8px;
  width: 15%;
  position: absolute;
}

.headerMenu {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5%;
  font-size: 32px;
}

.input {
  width: 60%;
  margin-left: 15%;
  position: absolute;
}

.addicon {
  color: white;
  background-color: #F50057;
  margin-left: calc(100% - 80px);
}

table {
  width: 100%;
}

.deleteicon {
  background-color: #ef0078;
}

.deleteicon:hover {
  background-color: #F50057;
}

.selectFaculty {
  width: 54%;
  margin-left: 15%;
  position: absolute;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  width: 100%;
  overflow: hidden;
  display: flex;
}
tr:hover{
  background: #f5f5f5;
}
mat-card {
  width: 100%;
}
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #eaacec;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .indeterminate {
  background-color: #c216a5;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
.inputLogin {
  width: 98%;
  position: absolute;
}
mat-form-field{
  width: 94%;
}
