<mat-toolbar>
    <mat-toolbar-row class="navbar">
        <mat-icon svgIcon="hamIcon" aria-hidden="true" aria-label="Example thumbs up SVG icon" class="hamIcon"
                  (click)="sidenav.toggle()"></mat-icon>
        <h1>SUT Course Online</h1>

        <span class="spacer"></span>
        <div class="nameNavbar">{{user.firstname}} {{user.lastname}}</div>
        <div mat-card-avatar class="example-header-image"></div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="moreBackground">
            <mat-icon svgIcon="more" aria-hidden="true" aria-label="Example thumbs up SVG icon"></mat-icon>
        </button>
        <mat-menu yPosition="above" xPosition="before" #menu="matMenu" class="menuMore">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>about me</span>
            </button>
            <button mat-menu-item>
                <mat-icon>add</mat-icon>
                <span>Add Course</span>
            </button>
            <button mat-menu-item>
                <mat-icon svgIcon="logout"></mat-icon>
                <span>log out</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
        <div class="panel1">
            <div class="insidepanel1">
                <div>
                    <p class="favCourse">Your Favorite Course</p>
                    <!-- find course -->
                    <button mat-menu-item (click)="search = !search">
                        <mat-icon class="searchIcon">search</mat-icon>
                    </button>
                </div>
                <form *ngIf="search">
                    <mat-form-field class="serachInput">
                        <input matInput placeholder="Ex:523353 or Computer Graphic">
                    </mat-form-field>
                </form>
                <mat-accordion *ngFor="let head of faculty">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title (click)="getMajor(head.name)">
                                {{head.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                            <mat-expansion-panel *ngFor="let head of major">
                                <mat-expansion-panel-header>
                                    <mat-panel-title (click)="getSubject(head.name)" class="courseStep2">
                                        => {{head.name}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-card *ngFor="let head of subject" class="cardExpansion" (click)="getFeed(head.code)">{{head.name}} : {{head.code}}</mat-card>
                            </mat-expansion-panel>
                    </mat-expansion-panel>
                </mat-accordion>


            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="example-events">
        <div class="panel2">
            <div class="insidepanel2">
                <div class="courseHeader">
                    <p>{{nameSubject}}  {{codeSubject}}</p>
                </div>
                <mat-card class="postCard" *ngIf="add">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{user.firstname}} {{user.lastname}}</mat-card-title>
                    </mat-card-header>
                    <form>
                        <mat-form-field class="comment">
                            <textarea matInput [(ngModel)]="select.text" placeholder="say somthing"
                                      name="text"></textarea>
                        </mat-form-field>
                    </form>

                   <form [formGroup] = "profileForm" *ngIf="oploadFile" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <input type="file" name="profile" (change)="onSelectedFile($event)" class="inputUploadFile"/>
                            <button mat-button type="submit" class="uploadButton" (click)="onSubmit()">Upload</button>
                        </div>
                    </form>
                    <mat-form-field class="comment" *ngIf="vdo" name="VdoLink"  >
                        <input matInput [(ngModel)]="select.vdoLink" placeholder="support for link on youtube only!">
                    </mat-form-field>



                    <button mat-button class="postButton" (click)="add = !add"  (click)="test()">Post</button>
                    <button mat-button class="postButton" (click)="oploadFile = !oploadFile">Upload Picture</button>
                    <button mat-button class="postButton" (click)="vdo = !vdo">Upload VDO</button>
                    <button mat-button class="postButton">Audio</button>
                    <br>
                    <br>
                </mat-card>
                <ng-container *ngFor="let posts of post.slice().reverse()">
                    <mat-card class="postCard">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"
                                 src="https://material.angular.io/assets/img/examples/shiba1.jpg"></div>
                            <mat-card-title>{{posts.user.firstname}} {{posts.user.lastname}}</mat-card-title>
                        </mat-card-header>
                        <br>
                        <mat-card-content>
                            <p>
                                {{posts.text}}
                            </p>
                           <div style="text-align: center;" *ngIf="posts.vdoLink">
                                <span style="background-color: #fce5cd;">
                                    <iframe width="560" height="315"
                                            [src]="getEmbedUrl(posts.vdoLink)"
                                            frameborder="0"
                                            allowfullscreen>
                                    </iframe>
                                </span>
                            </div>
                            <div class="separator" style="clear: both; text-align: center;"></div>
                        </mat-card-content>
                        <ng-container *ngIf='!posts.comment' >
                            <button mat-button (click)="isComment(posts)"
                                    class="addComment">Add comment</button>
                        </ng-container>


                        <ng-container *ngIf='posts.comment'>
                            <form >
                                <mat-form-field class="comment">
                                    <textarea matInput placeholder="Leave a comment"></textarea>
                                </mat-form-field>
                            </form>
                            <form >
                                <button mat-button class="postButton">Comment</button>
                            </form>
                            <form >
                                <button mat-button class="postButton" (click)="notComment(posts)">
                                    Cancel
                                </button>
                            </form>
                        </ng-container>



                        <br>
                        <br>
                    </mat-card>
                </ng-container>

            </div>
            <button mat-fab class="fab-bottom-right" (click)="add = !add">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
