<!--toolbar-->
<mat-toolbar 
  *ngIf="user"
  id="mainToolbar"
  color="primary">
  Course Online
  <span class="toolbar-spacer"></span>

  <button
    mat-mini-fab
    [matMenuTriggerFor]="avatarDropDown"
    class="toolbar-avatar"
    color="primary"
    [ngStyle]="{ 'background-image': 'url(' + user?.picture + ')'}"
  >
  </button>
</mat-toolbar>

<mat-menu
  #avatarDropDown="matMenu">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ user?.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <button mat-menu-item (click)="aboutme()">
    <mat-icon>account_box</mat-icon>
    <span>About me!</span>
  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>
<!--loading page-->
<div class="progress" *ngIf="!user">
  <div class="indeterminate"></div>
</div>
<!--page profile-->
<br>
<h1 class="title" *ngIf="user">"Confirm Account"</h1>
<br>
<mat-card class="example-card" *ngIf="user">
    <img mat-card-image [src]="picURL">
    <mat-card-header>
      <mat-card-title>{{ user?.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width" *ngIf="!user?.email" [class.has-error]="email.invalid && email.touched"> 
                <mat-label>Email</mat-label>
                  <input  matInput  [(ngModel)]="input.email" placeholder="Email" required email name="email" #email="ngModel" class="form-control">
                  <span class="help-block" *ngIf="email.errors?.required && email.touched">
                    Email is required
                  </span>
                  <span class="help-block" *ngIf="email.errors?.email && email.touched">
                    Email is invalid
                  </span>
             </mat-form-field>
            <mat-form-field class="full-width" [class.has-error]="studentId.invalid && studentId.touched">
                <mat-label>Student ID.</mat-label>
                  <input  matInput  [(ngModel)]="input.stuid" placeholder="Student ID." required name="studentId" #studentId="ngModel" class="form-control" pattern="^[Bb]([0-9]{7})">
                  <span class="help-block" *ngIf="studentId.errors?.required && studentId.touched">
                    Student ID. is required
                  </span>
                  <span class="help-block" *ngIf="studentId.errors?.pattern && studentId.touched">
                    Student ID. is invalid
                  </span>
             </mat-form-field>
             <mat-form-field class="full-width" [class.has-error]="major.invalid && major.touched">
              <mat-label>Major</mat-label>
                <input  matInput  [(ngModel)]="input.major" placeholder="Major" required name="major" #major="ngModel" class="form-control" pattern="^([A-z*' '])+|^([ก-๙*' ']+)"> 
                <span class="help-block" *ngIf="major.errors?.required && major.touched">
                    Major is required
                  </span>
                  <span class="help-block" *ngIf="major.errors?.pattern && major.touched">
                    Major is invalid
                  </span>
              </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <mat-card-actions>
          <button mat-raised-button (click)="confirm()" color="primary">Confirm your identity</button>
        </mat-card-actions>
      </mat-card-actions>
</mat-card>