  .title{
    text-align: center;
  }
  .cardmobile{
    text-align: center;
  }
  .example-card {
    margin-left: 40%;
    margin-right: 40%;
    max-width:30%;
    text-align: center;
  }
  .formMobile{
    width: 100%;
  }
  .my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }
