<mat-toolbar>
  <mat-toolbar-row class="navbar">
    <a href="home" class="courseOnline">SUT Course Online</a>
    <span class="spacer"></span>
    <div class="nameNavbar">{{authenService.user.name}}</div>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + authenService.user?.picture + ')' }"
         class="headerimage"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="moreBackground">
      <mat-icon svgIcon="more" aria-hidden="true" aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
    <mat-menu yPosition="above" xPosition="before" #menu="matMenu">
      <button mat-menu-item [routerLink]="['/aboutme']">
        <mat-icon>person</mat-icon>
        <span>About me</span>
      </button>
      <button mat-menu-item [routerLink]="['/home']">
        <mat-icon>add</mat-icon>
        <span>Add Course</span>
      </button>
      <button mat-menu-item [routerLink]="['/welcome']">
        <mat-icon>book</mat-icon>
        <span>My course</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon svgIcon="logout"></mat-icon>
        <span>log out</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="panelMaster">
  <div class="panelleft">
  </div>
  <div class="panel1">
    <mat-grid-list cols="3" rowHeight="380px">
      <mat-grid-tile class="grid" *ngFor="let subject of postService.subjectFromUser">
        <mat-card class="subjectCard">
          <img mat-card-image [src]="subject.picture">
          <mat-card-title (click)="getFeed(subject.code, subject.name)">{{subject.name}}</mat-card-title>
          <mat-card-subtitle>{{subject.code}}</mat-card-subtitle>
          <mat-divider></mat-divider>
          <button mat-button (click)="getFeed(subject.code, subject.name)">See</button>
          <button mat-button (click)="unfollow(subject.code)">Unfollow</button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="panelright">
  </div>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel">You don't have any course?</h5>
      </div>
      <div class="modal-body">
        <P>คุณต้องการติดตามรายวิชาก่อนหรือไม่?</P>
      </div>
      <div class="modal-footer">
        <button mat-button (click)="basicModal.hide()">Close</button>
        <button mat-button (click)="add()">Add</button>
      </div>
    </div>
  </div>
</div>
