<img src='../../assets/snow.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
<div *ngIf="!postService.isMobile">
  <mat-card class="login-card">
    <h2 class="title-name">Course Online Login</h2>
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile>
        <button (click)="LoginWithFacebook()" type="button" mdbBtn class="btn-fb waves-light"
                mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="LoginWithGoogle()" type="button" mdbBtn class="btn-gplus waves-light"
                mdbWavesEffect><i class="fab fa-google-plus left"></i>Google+
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="LoginWithTwitter()" type="button" mdbBtn class="btn-tw waves-light" mdbWavesEffect><i
            class="fab fa-twitter left"></i>Twitter
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="LoginWithGithub()" type="button" mdbBtn class="btn-git waves-light" mdbWavesEffect><i
            class="fab fa-github left"></i>Github
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
<div *ngIf="postService.isMobile">
  <mat-card class="cardmobile">
    <h2 class="title-name">Course Online Login</h2>
    <mat-list>
      <mat-list-item>
        <button (click)="LoginWithFacebook()" type="button" mdbBtn class="btn-fb waves-light"
                mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook
        </button>
      </mat-list-item><br>
      <mat-list-item>
        <button (click)="LoginWithGoogle()" type="button" mdbBtn class="btn-gplus waves-light"
                mdbWavesEffect><i class="fab fa-google-plus left"></i>Google+
        </button>
      </mat-list-item><br>
      <mat-list-item>
        <button (click)="LoginWithTwitter()" type="button" mdbBtn class="btn-tw waves-light" mdbWavesEffect><i
            class="fab fa-twitter left"></i>Twitter
        </button>
      </mat-list-item><br>
      <mat-list-item>
        <button (click)="LoginWithGithub()" type="button" mdbBtn class="btn-git waves-light" mdbWavesEffect><i
            class="fab fa-github left"></i>Github
        </button>
      </mat-list-item>
      </mat-list>
  </mat-card>
</div>
