<mat-toolbar>
    <mat-toolbar-row class="navbar">
        <a href="home" class="courseOnline">SUT Course Online</a>
        <span class="spacer"></span>
        <div class="nameNavbar">{{users.displayName}}</div>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + user?.photoURL + ')' }" class="headerimage"></div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            class="moreBackground">
            <mat-icon svgIcon="more" aria-hidden="true" aria-label="Example thumbs up SVG icon"></mat-icon>
        </button>
        <mat-menu yPosition="above" xPosition="before" #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>about me</span>
            </button>
            <button mat-menu-item [routerLink]="['/home']">
                <mat-icon>add</mat-icon>
                <span>Add Course</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon svgIcon="logout"></mat-icon>
                <span>log out</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<div class="panelMaster">
    <div class="panelleft">
    </div>
    <div class="panel1">
        <div class="insidepanel1">
            <div class="col-xs-12 visible-xs">
                <iframe
                    src="//www.facebook.com/plugins/likebox.php?href=http://https://www.facebook.com/SUT-Computer-Club-837427779776860?show_faces=true&colorscheme=light&stream=false&show_border=false&header=false&appId=123849637763517"
                    scrolling="no" frameborder="0" class="facebookPage" allow="encryted-media"
                    allowtransparency="true"></iframe>
            </div>
        </div>
    </div>

    <div class="panel2">
        <div class="insidepanel2">
            <div class="searchToolbar">
                <div class="search1">
                    <p class="SearchText">Search Course&nbsp;</p>
                </div>
                <div class="search2">
                    <p class="SearchInput">
                        <mat-form-field appearance="outline" floatLabel="never">
                            <input matInput placeholder="Search" [(ngModel)]="inputCode" name="code"
                                matTooltip="Example : 523101 or Computer Programing or 523">
                            <mat-icon matPrefix>book</mat-icon>
                        </mat-form-field>
                        <button mat-icon-button (click)="search()">
                            <mat-icon matPrefix>search</mat-icon>
                        </button>
                    </p>
                </div>

            </div>
            <ng-container *ngFor="let subjects of subject">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>
                            <button mat-button (click)="getfeed(subjects.code, subjects.name)"
                                class="subject">{{subjects.name}} : {{subjects.code}}
                            </button>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <h5 class="cardcontent">
                                รายวิชานี้ เป็นรายวิชาที่เปิดสอนในสาขาวิชา {{subjects.major.name}}
                            </h5>
                            <button mat-icon-button class="addCourse" (click)="follow(subjects.code)">
                                <mat-icon mat-list-icon matTooltip="follow"
                                    aria-label="Button that displays a tooltip when focused or hovered over">library_add
                                </mat-icon>
                            </button>
                        </div>
                        <br><br>
                    </mat-card-content>
                </mat-card>
                <br>
            </ng-container>

        </div>
    </div>
    <div class="panelright">
    </div>
</div>